@using MultiPanelE_Ticaret.Core.DTOs
@model List<CartItem>


<h2>Sepetim</h2>

@if (!Model.Any())
{
    <p>Sepetiniz boş.</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Ürün</th>
                <th>Fiyat</th>
                <th>Adet</th>
                <th>Toplam</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.Price ₺</td>
                    <td>@item.Quantity</td>
                    <td>@(item.Price* item.Quantity) ₺</td>
                </tr>
            }
        </tbody>
    </table>

    <form asp-area="User"
          asp-controller="Order"
          asp-action="CreateOrder"
          method="post">
        @Html.AntiForgeryToken()
        <button class="btn btn-success">
            Siparişi Tamamla
        </button>
    </form>
}
